@using H4TestOgSikkerhed.Data
@page "/filetest"
@inject MyResourceHandler MyResourceHandler

<PageTitle>File Test</PageTitle>

<h1>File Test</h1>

Press the button to try creating a file on the server.

<button class="btn btn-primary" @onclick="TryCreateFile">Create file</button>

@if (tried)
{
    @if (success)
    {
        <div>File was created successfully.</div>
    }
    else
    {
        <div>File could not be created.</div>
        <div>@error</div>
    }
}

@code {
    private string path = "";
    private string filename = "test.txt";
    private bool tried = false;
    private bool success = false;
    private string error = "";

    private void TryCreateFile()
    {
        path = $"Data";

        success = MyResourceHandler.TryCreateFile(path, filename, out error);

        tried = true;
    }
}
