@page "/filetest"

<PageTitle>File Test</PageTitle>

<h1>File Test</h1>

Press the button to try creating a file on the server.

<button class="btn btn-primary" @onclick="TryCreateFile">Create file</button>

@if (tried)
{
    @if (success)
    {
        <div>File was created successfully.</div>
    }
    else
    {
        <div>File could not be created.</div>
        <div>@error</div>
    }
}

@code {
    private string path = "";
    private string filename = "test";
    private bool tried = false;
    private bool success = false;
    private string error = "";

    private void TryCreateFile()
    {
        char sep = Path.DirectorySeparatorChar;
        path = $".{sep}Data{sep}test";

        try 
        {
            Directory.CreateDirectory(path);
            FileStream file = File.Create($"{path}{sep}{filename}.txt");
            file.Close();
            File.WriteAllText($"{path}{sep}{filename}.txt", "File created by Blazor Server");
            success = true;
        }
        catch (IOException ex)
        {
            success = false;
            error = ex.Message;
        }

        tried = true;
    }
}
