@using H4TestOgSikkerhed.Data
@page "/filetest"
@inject MyResourceHandler MyResourceHandler

<PageTitle>File Test</PageTitle>

<h1>File Test</h1>

Press the button to try creating a file on the server.

<button id="filetest_button" class="btn btn-primary" @onclick="TryCreateFile">Create file</button>

@if (tried)
{
    @if (success)
    {
        //<div id="success">File was created successfully at @error</div>
    }
    else
    {
        <div id="fail">File could not be created.</div>
        <div>@error</div>
    }
}

@code {
    private string path = "";
    private string filename = "test.txt";
    private bool tried = false;
    private bool success = false;
    private string error = "";

    private void TryCreateFile()
    {
        path = $"Data";

        success = MyResourceHandler.TryCreateFile(path, filename, out error);


        tried = true;
    }
}
