@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject AuthenticationStateProvider _authenticationStateProvider;
@inject Data.MyRoleHandler _myRoleHandler;

@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (IsAuthenticated)
{
    <h3>Du er logget ind.</h3>
}
@if (IsAdmin)
{
    <h3>Du er admin.</h3>
}

@code {
    public bool IsAuthenticated { get; set; }
    public bool IsAdmin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal user = authState.User;

        IsAuthenticated = user.Identity != null ? user.Identity.IsAuthenticated : false;
        IsAdmin = user.IsInRole("Admin");
    }
}
